<!-- <h1>Training#index</h1>
<p>Find me in app/views/training/index.html.erb</p>
 -->

<div class='container'>

  <h2 class='my-5'>Here are your trainings <%= current_user.first_name %> !</h2>

  <!-- HEADERS FOR THE TABLE -->
  <div class='row py-2 border bg-light'>
        <div class="col-4 border-right"><p style='font-weight: bolder'>Name</p></div>
        <div class="col-3 border-right"><p style='font-weight: bolder'>Department</p></div>
        <div class="col-3 border-right"><p style='font-weight: bolder'>Status</p></div>
        <div class="col-2 text-center"></div>
      </div>

  <!-- WE ITERATE OVER ALL THE TRAININGS FOR A SPECIFIC USER -->
  <% @trainings.each do |training| %>

      <!-- TRAINING DISPLAYED AS A ROW -->
      <div class='row py-2 border'>
        <div class="col-4 border-right"><p><%= training.name %></p></div>
        <div class="col-3 border-right"><p><%= training.department %></p></div>
        <div class="col-3 border-right"><p>0% completed</p></div>
        <div class="col-2 text-center"> <%= link_to 'START', training_path(training), class: "btn-primary px-4 py-1" %> </div>
      </div>
  <% end %>

</div>
