// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$cool-btn: #504BFF;
$cool-text: #C7D6FB;
$cool-card: #121832;
$cool-sidebar-text: #7C89A9;
$cool-lightsaber: #4EE4C1;
$cool-number: #ACAAFF;
$cool-number2: #FF8DE6;
$cool-number3: #FFCB65;
