body {
  font-family: 'Roboto', sans-serif;
  background: rgb(43,57,93);
  background: linear-gradient(180deg, #2B395D 0%, #1A2239 100%);
  background-repeat: no-repeat;
  min-height: 100vh;

  p {
    font-family: 'Roboto', sans-serif;
    color: $cool-text;
  }

  li {
    font-weight: 700;
  }
}

.main-content {
  flex-grow: 1;
}

.top-message {
  color: #C7D6FB;
  font-size: 18px;
  padding: 20px;
}

.item {
  padding: 30px;
  text-align: center;

  h1 {
    font-size: 75px;
    font-weight: bold;
  }

  p {
    color:#C7D6FB;
    font-family: roboto;
  }
}

.card-footer {
  p {
    padding-left: 20px;
  }
}