.centered {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;

    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 75px;
        line-height: 90px;
        color: #C7D6FB;
    }
    h3 {
      color: $cool-text;
      position: absolute;
      top: 2vh;
      left: 2vw;
    }
  }

    .title {
        width: 50vh;
        height: 18vh;
        margin-top: 50px;
        h5 {
          color: $cool-text;
          font-weight: italic;
          margin-top: 12px;
        }
    }

  .login {
    width: 24vw;
    height: 40%;
    background: #121832;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 59px 33px -30px rgba(15, 19, 36, 0.57);
    color: #C7D6FB;
    font-weight: bold;


    input {
        height: 55px;
    }

    .login-btn {
        background: #504BFF;
        border-radius: 4px;
        width: 100%;
        margin-top: 10px;
    }

  }

  .login-page {
    width: 80%;
    margin: 0 auto;
  }

  .login-links {
    margin-top: 30px;
    a {
      color: $cool-text;
      text-decoration: none;
      transition: all ease-in-out 0.3s;
      &:hover {
        color: #92a1c7;
        transition: all ease-in-out 0.3s;
      }
    }
  }

.logo_tps {
  margin-left: 20px;
  margin-top: 15px;
  color: #C7D6FB;
}
