<div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            CT
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Creative Tim
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="./dashboard.html">
              <i class="fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="./icons.html">
              <i class="fas fa-dumbbell"></i>
              <p>Trainings</p>
            </a>
          </li>
          <li>
            <a href="./map.html">
              <i class="far fa-user"></i>
              <p>Profile</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
