<div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            TPS
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="./dashboard.html">
              <i class="fas fa-tachometer-alt"></i>
              <p>DASHBOARD</p>
            </a>
          </li>
          <li>
            <a href="./icons.html">
              <i class="fas fa-dumbbell"></i>
              <p>TRAININGS</p>
            </a>
            <ul>
              <li>Training 1</li>
              <li>Training 2</li>
              <li>Training 3</li>
              <li>Training 4</li>
            </ul>
          </li>
          <li class="bottom-li">
            <a href="./map.html">
              <i class="far fa-user"></i>
              <p>PROFILE</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
