<div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Company Name
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="/dashboard.html">
              <i class="fas fa-tachometer-alt"></i>
              <p>DASHBOARD</p>
            </a>
          </li>
          <li>
            <a href="/trainings">
              <i class="fas fa-dumbbell"></i>
              <p>TRAININGS</p>
            </a>
          </li>
          <li class="bottom-li">
            <a href="./map.html">
              <i class="far fa-user"></i>
              <p>PROFILE</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
