<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card-dash card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-12 text-left">
              <h2 class="card-title">Welcome User!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card-dash card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-12 text-left">
              <h2 class="card-title">Training Name</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          blabalbal
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-dash card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-12 text-left">
              <h2 class="card-title">Training Name</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          blabalbal
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-dash card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-12 text-left">
              <h2 class="card-title">Training Name</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          blabalbal
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card-dash card-tasks">
        <div class="card-header">
          <h6 class="title d-inline">Tasks</h6>
          <p class="card-category d-inline">Today</p>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Update the Documentation</p>
                    <p class="text-muted">Dwuamish Head, Seattle, WA 8:47 AM</p>
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="fas fa-pencil-alt"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
            <div class="card-dash">
              <div class="card-header">
                <h4 class="card-title">Trainings</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Length
                        </th>
                        <th class="text-center">
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-center">
                          $36,738
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Minerva Hooper
                        </td>
                        <td>
                          Curaçao
                        </td>
                        <td>
                          Sinaai-Waas
                        </td>
                        <td class="text-center">
                          $23,789
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Sage Rodriguez
                        </td>
                        <td>
                          Netherlands
                        </td>
                        <td>
                          Baileux
                        </td>
                        <td class="text-center">
                          $56,142
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Philip Chaney
                        </td>
                        <td>
                          Korea, South
                        </td>
                        <td>
                          Overland Park
                        </td>
                        <td class="text-center">
                          $38,735
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Doris Greene
                        </td>
                        <td>
                          Malawi
                        </td>
                        <td>
                          Feldkirchen in Kärnten
                        </td>
                        <td class="text-center">
                          $63,542
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Mason Porter
                        </td>
                        <td>
                          Chile
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-center">
                          $78,615
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Jon Porter
                        </td>
                        <td>
                          Portugal
                        </td>
                        <td>
                          Gloucester
                        </td>
                        <td class="text-center">
                          $98,615
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
