.quiz-results {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1B2235;
  color: white;
  box-shadow: 0px 0px 40px 1200px rgba(17, 17, 17, 0.7);
  border-radius: 8px;
  height: 65vh;
  .centered-quiz {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  h4 {
    color: #D0D5E1;
    font-size: 24px;
    margin-left: 30px;
    font-weight: bold;
  }

  a{
    display: flex;
    width: 146px;
    height: 45px;
    margin-left: 30px;
    background-color: $cool-btn;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #413ccc;
      transition: all 0.3s ease-in-out;
    }
  }
}

.displayed-question {
  overflow: scroll;

  p {
    margin-left: 60px;
    color: red;
    margin-bottom: 40px;
  }
}

.correct {  
  color: $cool-lightsaber !important;
  font-size: 24px;
}
#previous-quiz-result {
  color: $cool-lightsaber;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.quiz-number-score {
  font-size: 75px;
  padding-left: 38%;
  font-weight: bold;
  margin-top: -15px;
}
#correct-answers {
  font-size: 24px;
  margin-top: -25px;
  font-weight: bold;
  margin-bottom: 20px;
}
#results-title {
  font-size: 32px;
  color: $cool-lightsaber;
}
#results-title-wrong{
  font-size: 32px;
  color: red;
}