.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0 8%;
  width: 100%;
  padding: 20px 0;
  a {
    text-decoration: none;
  }
}

.card {
  background-color: #121832;
  height: 280px;
  border-radius: 8px;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  p, i {
    color: rgba(199, 214, 251, 0.6);
  }
  &:hover {
    transform: translateY(-2px);
  }
}

.card-header {
  align-items: center;
  border : 0;
  p {
    margin: 0;
  }
}

.card-body {
  align-items: center;
  text-align: center;
  h4 {
    margin-top: 40px;
    color: #C7D6FB;
  }
}

.progress {
  width: 70%;
  height: 30%;
  .progress-bar {
    background-color: #4EE4C1 !important;
  }
}

.card-footer {
  align-items: center;
  border: 0;
  p {
    margin: 0;
  }
}


// TABLES

.tables {
  padding: 20px 0;
}

.trainings-card {
  width: calc(35vw + 32px);
  background: #1B2235;
  border: 1px solid #121832;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
  overflow: scroll;
    h3 {
    font-size: 24px;
    color: white;
    }
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.table-item {
  border-bottom: 1px solid rgba(208, 213, 225, 0.22);
  line-height: 1;
  margin-bottom: 16px;
  p {
    color: #E8EDFF;
  }
  i {
    color: rgba(208, 213, 225, 0.33);
    font-size: 24px;
  }
    i:hover {
      color: #4EE4C1;
    }
  th {
    border: 0;
  }
  td {
    border: 0;
  }
}

.todolist {
  width: calc(35vw + 32px);
  height: 473px;
  background: #273353;
  border-radius: 8px;
  padding: 20px;
  h3 {
    color: white;
  }
  .btn {
    width: 146px;
    height: 45px;
    background-color: #504BFF;
    border-color: #504BFF;
    color: white;
    border-radius: 4px;
  }
}

.header {
  margin-bottom: 32px;
}

.tasks-content {
  margin-top: 4px;
  color: #D0D5E1;

  i {
    color: rgba(208, 213, 225, 0.33);
    font-size: 24px;
    margin-right: 12px;
    cursor: pointer;
  }
  i:hover {
    color: #4EE4C1;
  }
  &.completed i {
    color: #4EE4C1;
  }
  &.completed p {
    text-decoration: line-through;
  }
}

.profile-card {
  background-color: #121832;
  width: 40vw;
  border-radius: 8px;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.35);
}

.profile-info {
  width: 35vw;
  height: 50%;
  background: #1B2235;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
  margin-right: 20px;
  margin-top: 5%;
  box-shadow: 0 0px 40px rgba(0,0,0,0.35);
}
.info-header {
  position: relative;
  height: 88px;
  img {
    width: 26%;
    height: 200%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #1B2235;
    box-shadow: 0 0px 40px rgba(0,0,0,0.35);
  }
}

.info-body {
  text-align: center;
  color: white;
  h4 {
    margin-bottom: 32px;
  }
}

.info-footer {
  h4 {
    color:#C7D6FB;
  }
  h5 {
    color: rgba(199, 214, 251, 0.6);
  }
  label {
    color: #7C89A9;
  }
}

// ADMIN CARD

.notification {
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;
    height: 5%;
    background: #1B2235;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0px 40px rgba(0,0,0,0.35);
    margin-left: 65px;
    margin-top: 40px;
    margin-bottom: 40px;

    img {
      width: 100px;
      position: absolute;
      left: -66px;
      border: 6px solid #1B2235;
      box-shadow: 0 0px 40px rgba(0,0,0,0.35);
    }
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  background-color: #504BFF;
  color: white;
  margin-left: 16px;
  font-size: 14px;
}

