.reg-chart {
  background-color: #1B2235;
  height: 440px;
  align-items: flex-start;
  display: flex;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}
.right-charts {
  flex-direction: column;
}

.train-chart {
  background-color: #1B2235;
  height: 47%;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}

.prog-chart {
  background-color: #1B2235;
  height: 46%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
}
