.form-components {
  padding: 60px 60px 20px 60px;
  .form-btn {
    width: 146px;
    height: 45px;
    background-color: #504BFF;
    border-color: #504BFF;
    color: white;
    border-radius: 4px;
  }
  label {
    color: #E8EDFF;
  }
}

.form-inputs{
  input {
    margin-bottom: 10px;
  }
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 0.8;
}

.train-form {
  background-color: #121832;
  padding: 40px;
  width: 40%;
  height: 60%;
  border-radius: 8px;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.35);
  label {
    color: #e9ecef;
  }
  .btn {
    width: 146px;
    height: 45px;
    background-color: #504BFF;
    border-color: #504BFF;
    color: white;
    border-radius: 4px;
  }
}

.nested-fields {
  position: relative;
  .form-group {
  width: 100%;
  }
}

.wrong a {
  position: absolute;
  right: 0;
}

.form-card {
  margin: 0 auto;
  width: 60%;
  background-color: #121832;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.35);
  label {
    color: #e9ecef;
  }
  #section_length {
    width: 20%;
  }

  .btn-primary {
    width: 146px;
    background-color: #504BFF;
    border-color: #504BFF;
    color: white;
    border-radius: 4px;
  }

  .add {
    background-color: transparent;
    border-color: $cool-lightsaber;
    color: $cool-lightsaber;
    border-radius: 4px;
    &:hover {
      background-color: $cool-lightsaber;
      border-color: $cool-lightsaber;
      color: white;
    }
  }
  .section_length {
    border-bottom: 3px solid #C7D6FB;
    margin-bottom: 40px;
    input {
      margin-bottom: 40px;
    }
  }
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid;
    border-color: #C7D6FB;
    color: #C7D6FB;
    border-radius: 4px;
    &:hover {
      background-color: #C7D6FB;
      border-color: #C7D6FB;
      color: black;
    }
}

.ques {
  border-bottom: 3px solid #C7D6FB;
  margin-bottom: 40px;
}


.hidden {
  display: none;
}

.quote {
  color: $cool-text;
  margin-left: 50px;
  width: 50%;
  position: relative;
  .quote-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 15%;
    margin: -50px -50px;
   h4 {
     margin-bottom: 50px;
   }
  }
}

.employee-badge {
  color: #C7D6FB;
  margin-bottom: 10px;
  border: 1px solid #C7D6FB;
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
}

.modal-content {
  background-color: #121832;
  border-radius: 8px;
  h2, h4, label, h6 {
    color: $cool-text
  }
  h5 {
    font-weight: bold;
    color: $cool-text;
  }
}

.modal-body {
  margin-bottom: -30px;
  h6 {
    margin-bottom: 15px;
  }
  label {
    margin-top: 20px;
  }
  span {
    color: $cool-text;
    transition: all ease-in-out 0.3s;
    &:hover{
      color: #b40c0c;
      border-color: #b40c0c;
      transition: all ease-in-out 0.3s;
      cursor: pointer;
    }
  }
}

.modal-header {
  span {
    color: $cool-text;
  }
}

.modal-footer {
  margin-right: -15px;
}
.form-group {
  margin-bottom: 10px;
}