.section-show {
    height: 100%;
}
.quiz-section {
    width: 57vw;
    margin-left: 80px;
    margin-top: 30px;
}

.text-section {
    
    p {
        color: #C7D6FB;
        width: 34.2vw;
    }

    h2 {
        font-weight: bold;
        font-size: 32px;
        color: white;
       }

       h3 {
        font-weight: bold;
        font-size: 24px;
        color: white;
       }
}