.sidebar {
  background-color: #121832;
  height: 100vh;
  min-width: 14rem;
  position: sticky;
  top: 0;
  padding: 16px;
  li {
    color: #7C89A9;
    list-style-type: none;
    margin-bottom: 8px;
  }
  a {
    color: #7C89A9;
    text-decoration: none;
  }
  .active a, i.active {
  color: #4EE4C1;
  font-weight: bold;
  }

  ul {
    padding: 0;
  }

  h3 {
    color: white;
    font-size: 24px;
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  p {
    color: #D0D5E1;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-left: 4px;
  }
}

  .badge {
  padding: 7px 10px;
  border-radius: 50%;
  background: #4EE4C1;
  color: white;
  }

.logout {
  align-items: center;
  position: fixed;
  bottom: 5%;
  left: 4%;
  text-align: center;
  color: #7C89A9;
    i {
      margin-right: 8px;
      font-size: 20px;
    }
    &:hover {
      color: #4EE4C1;
    }
}
