.sidebar {
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #667db6, #0082c8, #0082c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 90px);
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: 50%;
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 80px;
    margin-left: 20px;
    border-radius: 5px;
    transition: .5s cubic-bezier(.685,.0473,.346,1);
    li {
      margin-left: 18px;
    }
  .bottom-li {
    position: aboslute;
    bottom: 10px;
  }
}

.sidebar .sidebar-wrapper {
    width: 100%;
    min-height: 100%;
    max-height: calc(100vh - 705px);
    z-index: 4;
    position: relative;
    overflow: auto;
    li {
      color: white;
      list-style-type: none;
    }
}

.logo, .sidebar .logo {
    position: relative;
    padding: .5rem .7rem;
    z-index: 4;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav, .sidebar .nav {
    margin-top: 20px;
    display: block;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.sidebar a {
  padding: 10px 8px;
  display: block;
  color: white;
}

.off-canvas-sidebar .nav i, .sidebar .nav i {
    font-size: 20px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    position: relative;
}

p {
  margin: 0;
  line-height: 30px;
}

.logo {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

